body {
	margin: auto auto;
	padding: 0;
	background-color: #888888;
}

#wrapper {
	margin: 100px auto;
	width: 95%;
	height: 100%;
}

#left-box {
	display: inline;
  	postion: relative;
    float: left;
	height: 100%;
	width: 35%;
	margin-right: 6px;
}

#right-box {
	 display: inline-block;
  	 postion: relative;
     float: left;
	 height: 100%;
	 width: 60%;
}

.tile {
	display: block;
	border: 1px solid black;
	margin: 3px;
	color: white;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 56px;
	text-decoration: none;
}

.tile:hover {
	text-decoration: underline;
}

.blue {
	background: #013ADF;
	width: 100%;
	height: 225px;
	padding-top: 180px;
}

.green {
	background: #31B404;
	width: 100%;
	height: 125px;
	padding-top: 75px;
}

.brown {
	background: #B43104;
	width: 100%;
	height: 125px;
	padding-top: 75px;
}